<p class="text-green-500 font-medium mb-4"><%= notice %></p>

<div class="bg-white p-6 rounded-lg shadow-md">
  <%= render @user %>
</div>

<div class="mt-4">
  <%= link_to "Editar este usuário", edit_user_path(@user), class: "text-blue-700 hover:text-blue-800 font-medium mr-4" %>
  <%= link_to "Voltar", users_path, class: "text-blue-700 hover:text-blue-800 font-medium mr-4" %>
  <%= button_to "Excluir este usuário", @user, method: :delete, class: "text-red-700 hover:text-red-800 font-medium" %>
</div>
